




<section class="homehero">

<h1>Welcome to the Toy List Website
</h1>



<p> 
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum est lorem, sodales at felis vel, commodo cursus justo. Sed et commodo enim. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce congue bibendum lobortis. Donec eget rutrum elit. Pellentesque blandit, justo ut lobortis placerat, massa enim elementum massa, ut dapibus elit eros non justo. Morbi eu consectetur sem. Quisque eget pellentesque velit. Curabitur sed auctor nisi. Proin accumsan convallis nulla, quis varius nisi venenatis tempor. Nulla sollicitudin dui arcu, et fringilla enim tempor vel. Suspendisse laoreet dictum erat quis laoreet. Integer tincidunt erat massa, in vestibulum sapien vehicula quis. Vivamus id gravida ante, nec malesuada mauris. Ut eu accumsan leo.

Proin in volutpat tellus. Integer elementum vehicula dui eget sagittis. Pellentesque sit amet sem facilisis, ultrices justo sed, facilisis elit. In hac habitasse platea dictumst. Maecenas non purus diam. Curabitur consectetur sodales interdum. Aliquam erat volutpat. Nulla imperdiet euismod leo, nec rutrum nulla vestibulum pharetra. Phasellus ac turpis mattis, eleifend odio hendrerit, rutrum metus. Duis nec ligula ac magna mattis sagittis. Nunc id mauris vitae leo rhoncus ornare sit amet eu dui. Vestibulum eget lectus tortor. Aliquam lobortis quam eu sapien ornare bibendum. Phasellus id sem egestas, vulputate turpis vel, convallis nisl. Sed molestie congue leo, non imperdiet urna sollicitudin nec.

Aenean eu nisl eget nunc sagittis viverra pretium et diam. Nullam ultrices accumsan urna, in placerat velit. Nullam ac faucibus ipsum, a vestibulum ipsum. Donec imperdiet laoreet ipsum. Aenean consectetur pretium massa vitae luctus. Vivamus in molestie arcu. Donec id dui vitae arcu pharetra vulputate sit amet ac arcu. 
 </p>


<br>

<p>
<%= link_to 'View Toys', toys_path , :class => "button"%>
</p>


</section>




