/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require_self
 */

body
{
    background-image: url(woodenbg.jpg);
    width: 100%;
}



/*------- a link formatting -------*/
a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: grey;
}


/*------- Sections -----*/
.hero
{
    padding: 1% 1% 1% 1%;
    margin:;
    font-family: arial;
    text-align: left;
}


.showcontent
{
    padding: 1% 1% 1% 1%;
    background: rgba(119, 136, 153, .4);;
    float:right;
    border-radius: 15px;
    margin: 1% 1% 1% 1%;
    width: 95%;
    overflow: hidden;
}


/*------- Form ---------*/
.textarea
{
  min-width: 80%;
  height: 150px;
}
