
<footer>
<%=link_to "About", '#'%>

<br>
<br>

<div class="footerinner">
	<table>
		<tr>
			<th> Toy Types </th>
			<th> links </th>
			<th> Contact </th>
		</tr>
		<tr>
			<td> Stuffed Toys </td>
			<td> ...... </td>
			<td> .......... </td>
		</tr>
	</table>

</div>

</footer>