
<footer>
<a><%=link_to "About", '#'%></a>

<br>
<br>

<div class="footerinner">
	<table>
		<tr>
			<th> Toy Types </th>
			<th> links </th>
		</tr>
		<tr>
			<td> Stuffed Toys </td>
			<td> ...... </td>
		</tr>

		<tr>
			<td> Books </td>
			<td> ...... </td>
		</tr>
	</table>

</div>

</footer>