
<footer>
<strong><a><%=link_to "About", static_pages_help_path%></a></strong>

<br>
<br>

<div class="footerinner">
	<table>
		<tr>
			<td><%=link_to "Toys", toys_path%> </td>
			<td><%=link_to "Toy Types" , toytypes_path%> </td>

		</tr>
		



	</table>

</div>

</footer>